/* 
form{
    margin-top: 100px;
} */
.form-group{
    display: flex;
    flex-direction: row;
    /* width: 90%; */
    /* background-color: aqua; */
}

.form-group label {
    flex: none;
    display: block;
    width: 125px;
    font-weight: bold;
    font-size: 1em;
}


.form-group label.right-inline {
    text-align: right;  
    padding-right: 8px;
    padding-left: 10px;
    width: auto;
}

.form-group .input-control {
    flex: 1 1 auto;
    display: block;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 4px;
    margin-top: -4px;
}

.add_member_submit_button{
    margin: 20px !important;
    font-size: 20px;
    
}

.add_book_submit_btn{
    position: absolute;
    font-size: 20px;
    left: 50%;
    width: 200px;
}