{% extends 'base.html' %}
{% block css%} 
  <link rel="stylesheet" href={{url_for('static', filename='viewMembers.css' )}}>
{% endblock %}
{% block title %} Members {% endblock %}


{% block body %} 
<div class="main_div">
<h1>Transactions</h1>
</div>


    

    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Transaction Id</th>
            <th scope="col">Member Id</th>
            <th scope="col">Book ID</th>
            <th scope="col">Status</th>
            <th scope="col">Transaction Date</th>
            <th scope="col">Transaction Time</th>
          </tr>
        </thead>
        <tbody>
            {% for i in transactions%}
            <tr>
             <th scope="row">{{i.transaction_id}}</th>
             <td>{{i.t_member_id}}</td>
             <td>{{i.t_book_id}}</td>
             <td>{{i.issued_or_returned}}</td>
             <td>{{i.transaction_date}}</td>
             <td>{{i.transaction_time}}</td>
             
            </tr>
            
            {% endfor %}
         
        </tbody>
      </table>



{% endblock %}